
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                  <img src="../../../assets/logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
                  Proyecto Joan Muñoz
                </a>
              </div>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" *ngIf="auth.user$ | async as user" routerLink="/home"> Home </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="auth.user$ | async as user" routerLink="/indicadores">Indicadores</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" *ngIf="auth.user$ | async as user" routerLink="/novedades">Novedades</a>
              </li>
               <li>
                  <form class="d-flex">
                    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut"> 
                      <button  class="btn btn-outline-danger" (click)="auth.logout({ returnTo: document.location.origin })">
                        Log out
                      </button>
                    </ng-container>
                    <ng-template #loggedOut>
                      <button  class="btn btn-outline-success" (click)="auth.loginWithRedirect()">Log in</button>
                    </ng-template>
                </form>
                </li>
              </ul>
          </div>
        </div>
      </nav>   
      <div class="alert alert-secondary" role="alert"  *ngIf="auth.user$ | async as user">
        <ul>
          <li>Usuario Conectado: {{ user.name }}</li>
          <li>Email Conectado: {{ user.email }}</li>
        </ul>
      </div>


      <form class="d-flex">
        <ng-container *ngIf="auth.isAuthenticated$ | async; else msgLogueo"> 

        </ng-container>
        <ng-template #msgLogueo>
          <div class="container">
          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Bienvenido</h4>
            <p>Para poder ver el contenido del sitio, ud sebe loguearse con una cuenta de gmail.</p>
            <hr>
            <p class="mb-0">Este sitio corresponde al proyecto final del curso Angular de escalab.</p>
          </div></div>
        </ng-template>
    </form>

</body>
</html>