
<div class="container">

    <div class="alert alert-primary fst-italic" role="alert">
        Este sitio corresponde al proyecto final para conseguir ceritifiacion en Angular,
        si bien no fue facil terminarlo por distintas circunstancias. Si fue gratificante ir observando que a medida
        que uno va implementando lo solicitado, uno va aprendiendo y conociendo mas del framework.
        Por esta razon no me queda mas que dar gracias a Escalab y sobre todo al Teacher Jaime por su super buena disposicion
        para ayudar a entender y aprender.
      </div>

<hr>
<div class="text-center">
    <div class="font-weight-bold;"> <h3>Ultimos Sismos en Chile</h3> </div>
</div>

<div class="container">
    <div class="row">

             <div class="card" style="width: 18rem;"  *ngFor="let temblor of sismo">
                <img class="card-img-top" src="{{temblor.map_url}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">{{temblor.geo_reference}}</h5>
                <p class="card-text"><b>¿Cuando? :</b> {{temblor.local_date | date:'dd/MM/yyyy hh:mm:ss'}}</p>
                <p class="card-text"><b>Magnitud? :</b> {{temblor.magnitude.value}} - {{temblor.magnitude.measure_unit}}</p>
                <a href="{{temblor.url}}" class="btn btn-primary" target="_blank">+ info</a>
                </div>
            </div> 

    </div>
</div>